.vs
**/[Bb]in/*
!**/[Bb]in/*.refresh
obj
*.mdf
*.ldf
*.suo
*.exe
*.msi

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
/packages/
!packages/repositories.config