<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>

    <add
        name="DA"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=LAPTOP-MHS0R32M\SQLSERVER2016;Initial Catalog=UPC_DSD;User ID=sa;Password=cosapisoft;"
    />

  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- Log -->
    <add key="UsaLog" value="true" />
    <add key="RutaLog" value="D:\UPC\Ciclo_I\A\DesSisDistribuidos\Proyecto\Fuentes\Consciencia\UPC.Consciencia\01-Presentacion\UPC.Consciencia.SiteWeb\App_Log"/>

    <!-- Codigos Claves -->
    <add key="EstadoRegistro" value="1"/>
    <!-- Consultar Estados de Registro "Tabla General" -->
    <add key="Activo" value="1"/>
    <!-- Consultar Activos "Detalle Tabla General" -->
    <add key="Inactivo" value="2"/>
    <!-- Consultar Inactivos "Detalle Tabla General" -->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="UPC.Consciencia.ServiciosREST.Calificacion" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="UPC.Consciencia.ServiciosREST.ICalificacion" bindingConfiguration="crossDomain" behaviorConfiguration="webBehavior"></endpoint>
      </service>
      <service name="UPC.Consciencia.ServiciosREST.Noticia" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="UPC.Consciencia.ServiciosREST.INoticia" bindingConfiguration="crossDomain" behaviorConfiguration="webBehavior"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
