<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INoticia" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4822/WebServices/Comunidad/Servicio/Noticia.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INoticia"
                contract="NoticiaWS.INoticia" name="BasicHttpBinding_INoticia" />
        </client>
    </system.serviceModel>
</configuration>