<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings configSource="Web.AppSettings.config"/>

  <connectionStrings>

    <add
        name="DA"
        providerName="System.Data.SqlClient"
        connectionString="Data Source=DESKTOP-H6DJ3P2\SQL2014;Initial Catalog=UPC_DSD;User ID=sa;Password=cosapisoft;"
    />

  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.5.2" />

    <globalization culture="es-PE" />
    <sessionState mode="InProc" timeout="60" regenerateExpiredSessionId="true" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="4096" executionTimeout="90" />

    <customErrors mode="Off" defaultRedirect="~/App_ErrorPages/ErrorPage.htm">
      <error statusCode="404" redirect="~/App_ErrorPages/FileNotFound.htm" />
    </customErrors>

  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
</configuration>