<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Log -->
  <add key="UsaLog" value="true" />
  <add key="RutaLog" value="D:\UPC\Ciclo_I\A\DesSisDistribuidos\Proyecto\Fuentes\Consciencia\UPC.Consciencia\01-Presentacion\UPC.Consciencia.SiteWeb\App_Log"/>

  <!-- Codigos Claves -->
  <add key="EstadoRegistro" value="1"/> <!-- Consultar Estados de Registro "Tabla General" -->
  <add key="Activo" value="1"/> <!-- Consultar Activos "Detalle Tabla General" -->
  <add key="Inactivo" value="2"/> <!-- Consultar Inactivos "Detalle Tabla General" -->
    
</appSettings>